/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaçamentos entre as células */
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd; /* Borda sutil */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Ajuste a largura das colunas */
th, td {
    width: 25%; /* Distribui igualmente as larguras das colunas */
}

/* Estilo para os inputs dentro da tabela */
input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Ajuste do margin-bottom para input-container */
.input-container {
    margin-bottom: 15px;
}
